* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

input,
textarea,
select {
  border-radius: 5px;
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-color: white;
}

textarea {
  margin: 5px 0;
}

.product-form {
  border: 1px solid black;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  width: 800px;
  margin: 15px auto;
  padding: 0 22px;
}

.title {
  text-align: center;
  font-size: 40px;
  margin: 50px;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.form-group {
  display: grid;
  grid-template-rows: auto auto;
  gap: 0.5rem;
}

.form-group label {
  grid-row: 1;
  text-align: left;
}

.form-group input,
select {
  grid-row: 2;
  width: 100%;
}

.full-width {
  grid-column: 1 / -1;
}

.checkbox-group label {
  display: inline-block;
  margin-bottom: 15px;
}

.checkbox-group input {
  margin: 0 7px;
}

.description-form {
  min-height: 3rem;
  width: 100%;
}

.submit-btn {
  border: none;
  background-color: #1aab8a;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 30px;
  display: block;
  width: 300px;
  margin: 10px auto;
}
